@tailwind base;
@tailwind components;

/* .btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
} */
/* .w-side {
  width: calc(100% - theme('spacing.8'));
} */

@tailwind utilities;

.scroller {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
  will-change: scroll-position;
}
.scroller::-webkit-scrollbar {
  display: none;
}

*,
:after,
:before {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 3.125vw;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
  letter-spacing: 0;
  font-family: Syne, Noto Sans JP, "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-feature-settings: 'palt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-white;
  @apply bg-primary;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  border: 0px;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
button,
select,
textarea {
  font-family: inherit;
}
input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  background: transparent;
}
button {
  padding: 0;
  background: none;
}
